/* App.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
}

.form-container,
.list-container {
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Increase max-width */
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 600px) {
  .actions {
    flex-direction: row;
  }
}
